  body{
    /* background-image: url('https://source.unsplash.com/1600x900/?hotel,green'); */
    background-image: url('../img/bg.png'); /* use this when local */
    background-color: rgba(255,255,255,0.8);
  }

  /* Make the image of carousel fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }

  .footer {
    background: #ccc;
    padding: 2em;
  }

  .content {
    padding: 2em;
    /* background: rgba(50, 50, 50, 0.2); */
  }

  .welcome-msg {
    text-align: justify;
    margin-bottom: 50px;
  }

  .welcome-msg-right {
    text-align: right;
    margin-bottom: 50px;
  }

  .title-right {
    text-align: right;
  }

  .data-tamu {
    background-color: rgba(255,255,255,0.7);
    padding: 20px;
    margin-top:20px;
    /* margin: 0 5px 5px 0; */
  }

  label {
    font-weight: bold;
  }

  label[for="room-type"]{
    margin-right: 15px;
  }

  #form-res > h2 {
    padding: 5px;
  }

  .finger {
    cursor: pointer;
  }

  /* .form-inline {
    align-self: center;
  } */

  .form-inline > input {
    margin-left: 20px;
  }

  #rooms-tbl {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .action-col {
    text-align: center;
  }

  #log-in-out > span {
    font-size: 24px;
  }

  #setting-menu > span {
    font-size: 24px;
  }
