  body{
    /* background-image: url('https://source.unsplash.com/1600x900/?hotel,green'); */
    background-image: url('../img/bg.png'); /* use this when local */
    background-color: rgba(255,255,255,0.8);
  }

  /* Make the image of carousel fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }

  .footer {
    background-color: rgba(255, 255, 255, 1);
    font-weight: bold;
    padding: 2em;
  }

  .content {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: justify;
  }

  .welcome-msg-right {
    text-align: right;
    margin-bottom: 50px;
  }

  .title-right {
    text-align: right;
  }

  .data-tamu {
    background-color: rgba(255,255,255,0.7);
    padding: 20px;
    margin-top:20px;
    /* margin: 0 5px 5px 0; */
  }

  label {
    font-weight: bold;
  }

  .finger {
    cursor: pointer;
  }

  #log-in, #log-out{
    border-left: 2px solid white;
    font-size: 14px;
  }

  .fa.fa-sign-in, .fa.fa-sign-out {
    font-size: 14px;

  }

  #setting-menu > span  {
    font-size: 18px;
    /* vertical-align: bottom; */
  }

  #user-welcome {
    line-height: 1;
    font-size: 12px;
  }

  .modal-footer {
    justify-content: space-around;
  }
