#voucher-username, #voucher-password {
  color: #007BFF;
}

#frame-qrcode {
  text-align: center;
}

#confirm-data {
  /* background-color: rgba(210,210,210,0.3); */
  padding: 10px;
  font-weight: bold;
}

#confirm-data > h4 {
  color: white;
  font-weight: bold;
  background-color: gray;
  text-align: center;
  padding: 10px;
}
